*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
  /* overflow-y: hidden; */
  font-family: 'Playfair Display', serif;
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
}
::-webkit-scrollbar{
  /* overflow:hidden ;
  overflow-x:hidden ; */
  overflow-y:hidden ;
}